/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* .open-sans-<uniquifier> {
    
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
}

:root {
    /* Colors */
    --oceanBlue: #0072AB;
    --lightBlue: #E1E5F2;
    --teal: #58C4C8;
    --buttonBlue: #015C8A;
    --discountYellow: #FFD900;
    --heartRed: #C80000;

    /* Distance */
    --smallSpacer: 15px;
    --mediumSpacer: 25px;
    --largeSpacer: 50px;

    /* Font size */
    --h1: 24px;
    --h2: 20px;
    --h3: 16px;
    --bigP: 14px;
    --mediumP: 12px;
    --smallP: 10px;
    --icons: 30px;

    /* Image size */
    --sponsorImage: 181px;
    --artistImage: 191px;
}

/* VIGTIGT KOD TIL 390 brede :) */



/* HER KODER EMILIA */
header{
    background-color: var(--oceanBlue);
}
header>a>img{
    margin: 0.5rem;
    max-width: 100px;
}
.heroImg>img{
max-width: 390px;
}
.introTexst , .introProgram , .kortIntro , .populaereKunstner, .sponser h2{
    margin: 0 10px 0;
}
.introTexst p {
    margin: var(--smallSpacer) 0 var(--smallSpacer);
}
.introProgram p {
    margin: var(--smallSpacer) 0 var(--mediumSpacer);
}
.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.button {
    text-decoration: none;
    color: white;
    text-decoration-color: white;
    background-color: var(--buttonBlue);
    font-size: var(--h2);
    font-weight: bolder;
    inline-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 244px;
    height: 51px;
    border-radius: 15px;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--largeSpacer);
}

.populaereKunstner {
    background-color: var(--lightBlue);
    margin: 0 0 0;
    padding: 0.5rem;
}
.populaereKunstner>h2{
    margin: 0.5rem;
}

.popKunstner img{
    width: 248px;
}

.popKunstner{
    display: grid;
    justify-content: center;
}

.navnTid {
    display: flex;
    justify-content: space-around;
    background-color: var(--oceanBlue);
    border-radius: 0  0 15px 15px;
}

.sponser img{
    width: 181px;
}



/* HER KODER Tobias */

body{
    font-family: "Open sans";
}

.datoerKnapper{
    display: grid;
    grid-template-columns: 38px auto auto auto auto 38px;
    padding: 2rem;
    padding-bottom: 1rem;
    background-color: var(--lightBlue);
}
.arrowLeft{
    grid-row: 1;
}
.arrowRight{
    grid-row: 1;
}
.dato h2{
    text-align: center;
}
input{
    grid-row: 1;
}
.onsdag{
    grid-column: 2;
}
.torsdag{
    grid-column: 3;
}
.fredag{
    grid-column: 4;
}
.loerdag{
    grid-column: 5;
}
.sideviserOgSoeg{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    max-height: 3rem;
}
.soeg{
    margin-top: 20px;
    border-radius: 3rem;
    width: 10rem;
    height: 2rem;
    color: #929292;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
}
.soeg>h3{
    font-weight: 500;
    margin-top: 0;
    margin-left: 1rem;
    margin-top: 2px;
}
.soeg>img{
    margin-right: 0.5rem;
    color: #929292;
    max-width: 20px;
}
label{

    grid-row: 2;
    text-align: center;
}
.dato{
    background-color: var(--lightBlue);
}
.dato h2{
font-size: var(--h1);
margin-top: 0;
padding-bottom: 1rem;
}

.filter{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}


.programBand{
display: grid;
margin-top: 2rem;
margin-bottom: 2rem;
}



h2,p,a{
    margin: 0.2rem;
    margin-bottom: 0;
    margin-top: 0;
}

h2{
    grid-column: 1/3;
    font-size: var(--h2);
    line-height: 20px;
    margin-top: 1rem;
}

p{
    grid-column: 1/3;
    max-width: 25rem;
    font-size: var(--smallP);
}

.klokke{
    grid-row-start: 4;
    grid-column: 1;
}

.pris{
    grid-column-start: 2;
}
.klokke, .pris{
    margin-bottom: 1rem;
}
a{
    grid-column: 1/3;
    font-size: var(--mediumP);
}

.programImg>img{
    width: var(--artistImage);
    border-radius: 0.5rem;
    margin: 0.3rem;
}
.programTekstIndhold{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-start: 3 ;
}



/* HER KODER Rikke */
/* Først styler jeg baggrundsfarven i toppen */
.userBackground{
    background: var(--lightBlue);
    border-bottom: 3px solid var(--oceanBlue);
    display: flex;
    justify-content: center;
    height: 155px;
    position: relative;
    margin-bottom: 75px;
}

/* Her styler jeg bruger billedet  */
.user {
    height: 120px;
    width: auto;
    border-radius: 50%;
    border: 3px solid var(--oceanBlue);
    position: absolute;
    top: 60%;
}

.userInfo{
    display: grid;
    justify-content: center;
    margin-bottom: var(--largeSpacer);
}

.userInfo img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.userInfo article{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--teal);
    margin-bottom: var(--smallSpacer);
    width: 250px;
    padding-bottom: 5px;
    padding-left: 35px;
}

.userInfo p {
    font-size: var(--h3);
    margin: 0;
}


/* Cards */
.favourites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.favourites h2 {
    font-size: var(--h2);
    margin: 0;
    margin-left: 10px;
    margin-bottom: var(--smallSpacer);
}

.favourites article {
    background: var(--oceanBlue);
    width: 180px;
    border-radius: 15px;
    margin-inline: 10px;
    margin-bottom: var(--mediumSpacer);
    position: relative;
}

.artist {
    width: 180px;
    height: auto;
}

.like {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.favourites div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.favourites div p {
    color: white;
    font-size: var(--smallP);
    margin: 0;
}

.skip {
    grid-column: 2 / 2;
    grid-column-start: 1;
}


/* Her er sponsor siden */
.sponsorBackground{
    background: var(--lightBlue);
    border-bottom: 3px solid var(--oceanBlue);
    padding-top: 95px;
}

.sponsorBackground h2 {
    margin: 0;
    margin-left: 10px;
    font-size: var(--h2);
    margin-bottom: var(--smallSpacer);
}

.sponsorBackground p {
    margin: 0;
    font-size: var(--bigP);
    margin-left: 10px;
    margin-bottom: var(--mediumSpacer);
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 10px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.sponsors img {
    width: var(--sponsorImage);
    margin-top: 25px;
}



/* HER KODER Thomas */
@keyframes hop {
	0%{
		transform: scale(100%);
	}
	50%{
		transform: scale(120%);
	}
	100%{
		transform: scale(100%);
	}
}

#stjerne{
    animation: hop 2000ms infinite ease-out;
}

main {
    padding-bottom: var(--largeSpacer);
}
.maps-body{
    width: 390px;
}
.top-soege {
    display: flex;
    background-color: var(--lightBlue);
    padding: 10px;
    border-bottom: 3px solid var(--oceanBlue);
    width: 390px;
    justify-content: space-between;
    align-items: center;
}
.soegefunktion {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px;
    background-color: #F1F1F1;
    height: 30px;
}
.soegefunktion input {
    width: 80px;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
.soegefunktion input::placeholder {
    color: lightgray;
}
.soegefunktion img {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    color: #929292;
}
/* Kort, placering og telefon */
.kort{
    display: flex;
    justify-content: center;
    padding-top: var(--smallSpacer);
}
.kort img{
    width: 350px;
}
.kort-adresse{
    width: 390px;
    padding-left: 1.1rem;
}
.kort-adresse h2{
    font-size: var(--h2);
}
.adr-tlf{
    display: grid;
}
.adr-tlf1{
    display: flex;
    align-items: center;
}
.adr-tlf1 img{
    width: 20px;
    height: 24px;
}
.adr-tlf1, .adr-tlf2{
    padding-left: var(--largeSpacer);
    font-size: var(--bigP);
}
.adr-tlf2{
    display: flex;
    align-items: center;
}
.adr-tlf2 img{
    width: 20px;
    height: 24px;
}
/* Øl osv... */
.drikkevarer{
    padding-top: var(--smallSpacer);
    padding-left: 1.1rem;
    width: 390px;
    font-size: var(--bigP);
}
.drikkevarer h2{
    font-size: var(--h2);
}
.items-priser{
    padding-left: var(--largeSpacer);
}
/* nav */
nav {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 390px;
    background: #0072AB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav-ikon {
    text-align: center;
    flex: 1;
}
.nav-ikon i {
    font-size: 24px;
    display: block;
    color: white;
}
.nav-ikon p {
    font-size: 12px;
    color: white;
    margin: 5px 0 0;
}
.nav-cirkel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 3rem;
}
.cirkel {
    width: 60px;
    height: 60px;
    background: #0072AB;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.cirkel a{
    color: white;
}
.nav-cirkel i {
    font-size: 32px;
}