/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* .open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

:root {
    /* Colors */
    --oceanBlue: #0072AB;
    --lightBlue: #E1E5F2;
    --teal: #58C4C8;
    --buttonBlue: #015C8A;
    --discountYellow: #FFD900;
    --heartRed: #C80000;

    /* Distance */
    --smallSpacer: 15px;
    --mediumSpacer: 25px;
    --largeSpacer: 50px;

    /* Font size */
    --h1: 24px;
    --h2: 20px;
    --h3: 16px;
    --bigP: 14px;
    --smallP: 10px;
    --icons: 30px;

    /* Image size */
    --sponsorImage: 181px;
    --artistImage: 191px;
}

/* VIGTIGT KOD TIL 390 brede :) */
/* HER KODER EMILIA */















/* HER KODER Tobias */














/* HER KODER Thomas */














/* HER KODER Rikke */
/* Først styler jeg baggrundsfarven i toppen */
.userBackground{
    background: var(--lightBlue);
    border-bottom: 3px solid var(--oceanBlue);
    display: flex;
    justify-content: center;
    height: 155px;
    position: relative;
    margin-bottom: 75px;
}

/* Her styler jeg bruger billedet  */
.user {
    height: 120px;
    width: auto;
    border-radius: 50%;
    border: 3px solid var(--oceanBlue);
    position: absolute;
    top: 60%;
}

.userInfo{
    display: grid;
    justify-content: center;
    margin-bottom: var(--largeSpacer);
}

.userInfo img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.userInfo article{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--teal);
    margin-bottom: var(--smallSpacer);
    width: 250px;
    padding-bottom: 5px;
    padding-left: 35px;
}

.userInfo p {
    font-size: var(--h3);
    margin: 0;
}


/* Cards */
.favourites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.favourites h2 {
    font-size: var(--h2);
    margin: 0;
    margin-left: 10px;
    margin-bottom: var(--smallSpacer);
}

.favourites article {
    background: var(--oceanBlue);
    width: 180px;
    border-radius: 15px;
    margin-inline: 10px;
    margin-bottom: var(--mediumSpacer);
    position: relative;
}

.artist {
    width: 180px;
    height: auto;
}

.like {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.favourites div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.favourites div p {
    color: white;
    font-size: var(--smallP);
    margin: 0;
}

.skip {
    grid-column: 2 / 2;
    grid-column-start: 1;
}