/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* .open-sans-<uniquifier> {
    
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    margin: 0;
}

:root {
    /* Colors */
    --oceanBlue: #0072AB;
    --lightBlue: #E1E5F2;
    --teal: #58C4C8;
    --buttonBlue: #015C8A;
    --discountYellow: #FFD900;
    --heartRed: #C80000;

    /* Distance */
    --smallSpacer: 15px;
    --mediumSpacer: 25px;
    --largeSpacer: 50px;

    /* Font size */
    --h1: 24px;
    --h2: 20px;
    --h3: 16px;
    --bigP: 14px;
    --smallP: 10px;
    --icons: 30px;

    /* Image size */
    --sponsorImage: 181px;
    --artistImage: 191px;
}

/* VIGTIGT KOD TIL 390 brede :) */
/* HER KODER EMILIA */
.introTexst , .introPogram , .kortIntro , .populaereKunstner h2{
    margin: 0 10px 0;
}
.introTexst p {
    margin: var(--smallSpacer) 0 var(--smallSpacer);
}
.introPogram p {
    margin: var(--smallSpacer) 0 var(--mediumSpacer);
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.button {
    text-decoration: none;
    color: white;
    text-decoration-color: white;
    background-color: var(--buttonBlue);
    font-size: var(--h2);
    font-weight: bolder;
    inline-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 244px;
    height: 51px;
    border-radius: 15px;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--largeSpacer);
}

.populaereKunstner {
    background-color: var(--lightBlue);
    margin: 0 0 0;
}

.popKunstner img{
    width: 248px;
}

.popKunstner{
    display: grid;
    justify-content: center;
}

.navnTid {
    display: flex;
    justify-content: space-around;
    background-color: var(--oceanBlue);
    border-radius: 0  0 15px 15px;
}

.sponser img{
    width: 181px;
}













/* HER KODER Tobias */














/* HER KODER Thomas */














/* HER KODER Rikke */